body{
    text-align: center;
   
}

.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}

.btncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px;
    text-align:center;
    align-content: center;
    margin-bottom: 15px;
}

.flash{
    background-color: white;
}