h1{
    display:flex;
    justify-content: center;
}
body{
    background-image: url("images/todo\ bg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.todo{
    height: 450px;
    width: 400px;
    background:linear-gradient(#e7d1b5,#eb7996a8);
    opacity: 95%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}
.heading{
    margin-top:50px;
}
.row{
   display: flex;
   gap: 10px;
   width:100%;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
}
.row input{
    padding: 10px;
    width:70%;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(228, 219, 206) ;
    border: none;
    outline: none;
}
.row button{
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(199, 74, 74);
    color: aliceblue;
    font-weight: bold;
    border: none;
    outline: none;
}
#tasklist{
    list-style: none;      
    padding-left: 0;   
    text-align: left;
}
#tasklist li{
    margin-bottom: 8px;
}
ul li{
    position: relative;
    padding: 12px 8px 12px 50px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/dry-clean.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.check{
    color:#555;
    text-decoration: line-through;
}
ul li.check::before{
    background-image: url(images/checked\ \(1\).png);
}
ul li span{
    position: absolute;
    left:300px;
    top: 14px;
    width : 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bolder;
    color: crimson;
    line-height: 20px;
    text-align:center;
    cursor: pointer;
    transition: 0.2s;
}
ul li span:hover{
    background:#e7d1b5;
}